<html>
<head>
<title>Richard Aka Ninja </title>
</head>
 <body>
        <h1> Hello {{name}}</h1>
        <h3> my name is : Richard T. Lawer aka the Ninja himself</h3>
        <h3> I live at Odumase-Krobo</h3>
        <h3> I am a teacher</h3>
        <h3> I like banku and pepper a lot.. hahahaha no joke..ooo</h3>
        <img src="http://www.divinerevelations.info/documents/jesus_pictures/jesus_004.jpg"   width="1000px" ; height = "100px">
       <a href="https://github.com/richardtlawer" > Richard Teye Lawer </a>
  </body>
</html>
