<html>
<head>

<title>Linux Website For Linux Ninjas</title>

</head>

<body>
 <h1> By the only Ninja</h1>
 <h3> in the person of Richard T. Lawer</h3>
<ol>

 <li>List of Linux  Commands </li>

 <li>cd....change directory </li>
 <li>grep `whoami` | wc .... count the number of lines in all lines with user</li>
 <li>ctrl + d .... end of file</li>
 <li>ls -lart......</li>
 <li>tail  filename...for end of file</li>
 <li>head  filename... beginning of file</li>
 <li>wc > filename .....output to another felename </li>
 <li>wc >> filename ...append to filename </li>
 <li>$$ ..... process ID</li>
 <li>echo... to display </li>
 <li>ps aux | grep ^`whoami` .... prints all processes with lines beginning with user name</li>
 <li>cat filename ......to display filename contents</li>
 <li>ls | wc -l....... display word count for directories </li>
 <li>pwd ... print working directory </li>
 <li> cd .. ... to parent directory </li>
 <li> cd / ..... to root directoy </li> 
 <li>ls -a ... display all including hidden directoy </li>
 <li>ls -r  ...</li>
 <li>ls -t   ...</li>
 <li>man   ,,, for information on commands</li>

</ol>

</body>
 
</html>  
 
